* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: black;
}

.content {
  display: flex;
  background-color: grey;
  width: 100vw;
  height: 100vh;
}

.formArea {
  margin-top: 0px;
}

.ipsum {
  padding-left: 80px;
  padding-top: 23vh;
}

.accountArea {
  padding-left: 80px;
}

.form {
  padding-left: 80px;
  margin-top: 40px;
  padding-bottom: 15px;
  background-color: grey;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.formTitle {
  margin-top: 30px;
  margin-bottom: 30px;
}

.heroImage {
  display: flex;
  align-items: center;
  background-color: antiquewhite;
}

.firstImg {
  max-width: 600px;
  max-height: 850px;
}

.secondImg {
  position: absolute;
  top: 45vh;
  max-width: 600px;
  background-color: white;
  opacity: 0.6;
  height: 175px;
  display: flex;
  align-self: center;
  justify-self: center;
}

.names {
  display: flex;
  gap: 20px;
}

.contactInfo {
  display: flex;
  gap: 20px;
}

.passes {
  display: flex;
  gap: 20px;
}

.input {
  display: block;
}

.signupButton {
  margin-top: 25px;
  color: white;
  border-radius: 10px;
  background-color: burlywood;
  height: 40px;
  width: 150px;
}

.login {
  color: white;
  border-radius: 5px;
  background-color: burlywood;
  height: 20px;
  width: 100px;
}
